/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* Include any default variable overrides here (though functions won't be available) */

/* CHARLY */
body {
    font-family: 'Rubik', sans-serif;
}


.navarra {
    background: linear-gradient(135deg,
            rgba(224, 22, 22, 0.8),
            rgba(244, 43, 78, 0.6));
    color: rgb(255, 242, 195);
    z-index: 3;
}

.pub-title {
    font-weight: bolder;
}

.centrar {
    margin: 0 auto;
}

#estilo {
    font-family: 'Rubik', sans-serif;
    color: white;
}

.hand {
    cursor: pointer;
}

.hand:hover {
    background-color: rgb(236, 74, 74)
}

html {
    min-height: 100%;
    font-size: 100%;
}

.click:hover {
    background: linear-gradient(135deg,
            rgb(255, 180, 88),
            rgba(251, 251, 148, 0.5));
    color: black;
    cursor: pointer;
}

.fijar {
    position: sticky;
    top: 0px
}

/* .fijado {
    position: sticky;
    top: 100px
} */

.fijar-fil {
    position: sticky;
    top: 128px
}

.selected {
    background: linear-gradient(135deg,
            rgb(255, 180, 88),
            rgba(251, 251, 148, 0.5));
    color: black;
}

.letra.peq {
    font-size: 10px;
}